/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/06/2015, 15:35:43
    Author     : now
*/
/*  CSS & CSS3 - ELETRONIC -
  ANALISTA DESENVOLVEDOR  -CHRISTIAN DE ORNELLAS POSSIDONIO*/

body{
    
    background-image: url(../img/w3.jpg);
opacity: 0.80;
background-position-x: -140px;
}

.navbar-brand img{
    margin-top: 340px;
    margin-left: 200px;
    float: left;
     opacity: 0.70;
     border-radius: 4px;
     padding: 5px;   
}

.navbar-default{
    box-shadow: #ccc 1px 1px 1px 1px; 
}
aside{
   opacity: 0.82;
  margin-right: 300px;  
  margin-top: 200px;  
    float: right;
    width: 300px;
    height: 200px;
}

footer{
    
    margin-top: 700px;
    text-align: center;
    
}